<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Force Node.js version for build process -->
    <iisnode nodeProcessCommandLine="D:\Program Files (x64)\nodejs\18.17.0\node.exe" />
    
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Backend.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        <environmentVariable name="DOTNET_ENVIRONMENT" value="Production" />
        <environmentVariable name="WEBSITE_NODE_DEFAULT_VERSION" value="18.17.0" />
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
